fastapi
uvicorn
sqlalchemy
chromadb
sentence-transformers
python-multipart
python-dotenv
requests
google-generativeai
google-genai
torch
transformers
huggingface-hub
langchain
langchain-community
pydantic
beautifulsoup4
lxml
